
/* NAV BAR */
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: linear-gradient(to bottom right, rgb(65, 4, 145), rgb(187, 12, 158));
}
#logo {
    float: left;
    padding: 25px 0;
    max-width: 25%;
    max-height: 25%;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 70px;
    padding-top: 25px;
}
nav a{
    color: #e9f5f7;
    text-decoration: none;
    font-family: "Champagne & Limousines";
    font-size: 20px;
    font-weight: bold;
}
nav a:hover{
    color: rgb(217, 160, 255);
}
header::after {
    content: '';
    display: table;
    clear:both
}

/* Header */
h1{
    font-family: "Champagne & Limousines";
    text-align: left;
    margin: 100px;
    font-size: 90px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.image{
    position: relative;
    width: 100%;
    height: 100px;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

/*Page Headers*/
h2{
    font-family: "Champagne & Limousines";
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*CARDS*/
h3{
    font-family: "Champagne & Limousines";
    font-weight: bold;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 70px;
    margin-bottom: 20px;
}
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 0 -5px;
}
  
  /* Clear floats after the columns */
  .row:after {
      
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
}
  
  /* Style the counter cards */
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card2:hover:hover {
    box-shadow: 0 8px 16px 0 rgba(65, 4, 145, 0.247);
}

/* Meal Button*/
.button {
    font-family: "Champagne & Limousines";
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
  .button {
    border-color: rgb(65, 4, 145);
    color: rgb(65, 4, 145);
}
  .button:hover {
    background: linear-gradient(to bottom right, rgb(65, 4, 145), rgb(187, 12, 158));
    color: white;
  }
  


/* footer */
/* #footer{
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    text-align: center;
} */